	body {
				//background: #000;
				color: #fff;
				padding: 0;
				margin: 0;
				overflow: hidden;
				font-family: georgia;
				font-size:1em;
                text-align: center;
                background:url('lib/burried.png');
                cursor: url('lib/cursorWhite.png'), auto;
                font-family: "GeoSans";

			}

			#info { 
              position:absolute;
              bottom: 0px;
              left:0px;
              width: 300px;
            }

            #technology {
  
              top:1px;
              background:rgba( 0 , 0 , 0 , .3 );
              padding: 20px;
              display: none;
              margin-bottom: -2px;
              border: 1px solid #999999;

            }



            .tech{
      
              text-align:left;
              font-size: 20px;
              display: block;

            }
 
            #infoButton:hover{

  opacity: .7;

}


#infoButton{
  margin: 10px;
  width:40px;
  height:40px;
  display: block;

  opacity:.3;
  //background-size: 100%;

  float:left;
  //background: url("lib/facebook_1.png");
}




            a{ color:#fff; text-decoration: none; }
            a:hover{ text-decoration:underline; }
			//a { color: #fb0; }

			

            #RENDERER{

              border-top: 1px  solid  #999999;
              border-bottom: 1px  solid  #999999;
              //box-shadow: 0px 1px 50px #999999 inset;

            }

            @font-face {
              font-family: "GeoSans";
              src: url("lib/GeosansLight.ttf");
            }

#curtain{

  position      : absolute;
  z-index       : 999;
  top           : 0px;
  left          : 0px;
  width         : 100%;
  height        : 100%;
  background    : #000;

}

#failureDialog{

  z-index: 999;
  width:100%;
  height:100%;
  overflow:auto;
  position: absolute;
  background: #000;

 text-align:center;

}


#failureList{

  padding:0px;
  margin:0px;
  text-align: center;
  list-style:none;

  display:block-inline;
}



#loadBar{

  position      : absolute;
  top           : 50%;
  height        : 1px;
  width         : 0px;
  background    : #fff;

}

#loadingGif{

  position      : absolute;
  top           : 50%;
  left          : 50%;
  z-index       : -1;

}

#loadInfo{

  position      : absolute;
  top           : 50%;
  font-size     : 20px;

  height        : 50px;
  width         : 100%;
  margin-top    : 5px;
  text-align    : center;
  //background    : #fff;

}

#title{

  color:#fff;

  position: absolute;
  top: -10px;
  left: 10px;
  z-index: 999;
}

#social{

  pointer-events  : auto;

  position:absolute;
  right:5px;
  bottom:5px;

  zIndex:999;
  width:50%;

}

.social:hover{

  opacity: .7;

}


.social{
  margin: 5px;
  width:40px;
  height:40px;
  display: block;

  opacity:.3;
  //background-size: 100%;

  float:right;
  //background: url("lib/facebook_1.png");
}

.social:hover{

  opacity: .7;

}






