	body {
				//background: #000;
				color: #999;
				padding: 0;
				margin: 0;
				overflow: hidden;
				font-family: georgia;
				font-size:1em;
                text-align: center;
                background:url('lib/burried.png');
			}

			#info { margin-top: 2em	}

			a { color: #fb0; }

			#footer { width: 100%; margin: 2em auto; text-align: center; position: absolute; bottom: 0 }
			.h { color: #fb0 }
			.c { display: inline; margin-left: 1em }

			#loading { width: 100%; margin: 2em auto; text-align: center; position: absolute; top: 25em  }

			#oldie a { color:#da0 }

			#stats { position: absolute; top:0; left: 0 }
			#stats #fps { background: transparent !important }
			#stats #fps #fpsText { color: #aaa !important }
            #stats #fps #fpsGraph { display: none }

            #RENDERER{

              border-top: 1px  solid  #999999;
              border-bottom: 1px  solid  #999999;
              box-shadow: 0px 1px 50px #999999;

            }

            @font-face {
              font-family: "GeoSans";
              src: url("/lib/GeosansLight.ttf");
            }

#curtain{

  position      : absolute;
  z-index       : 999;
  top           : 0px;
  left          : 0px;
  width         : 100%;
  height        : 100%;
  background    : #000;

}

#failureDialog{

  z-index: 999;
  width:100%;
  height:100%;
  overflow:auto;
  position: absolute;
  background: #000;

 text-align:center;

}


#failureList{

  padding:0px;
  margin:0px;
  text-align: center;
  list-style:none;

  display:block-inline;
}



#loadBar{

  position      : absolute;
  top           : 50%;
  height        : 1px;
  width         : 0px;
  background    : #fff;

}

#loadingGif{

  position      : absolute;
  top           : 50%;
  left          : 50%;
  z-index       : -1;

}

#loadInfo{

  position      : absolute;
  top           : 50%;
  font-size     : 20px;

  height        : 50px;
  width         : 100%;
  margin-top    : 5px;
  text-align    : center;
  //background    : #fff;



}

